       table {
             border-collapse: collapse;
            width: 50%;
            margin: 20px auto; 
        }
        th, td {
            border: 2px solid rgb(29, 28, 28);
            padding: 10px;
            text-align: center;
            background-color: rgb(76, 79, 79); 
            color: rgb(255, 255, 255); 
        }
        th {
            background-color: rgb(144, 147, 147);
        }
    button {
        background-color: #f4f4f4;
        color: rgb(10, 10, 10);
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        display: inline-block;
        cursor: pointer;
        margin-top: 20px;
    }
    .home-btn {
        position: fixed;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
        z-index: 1000; 
        background-color: #181717;
        color: rgb(247, 242, 242);
        padding: 10px 22px;
        border-radius: 5px;
        border: none;
    }
    .home-btn:hover {
        background-color: #71b850;
    }