  body{
        font-family: Arial, sans-serif;
        text-align: center;
        margin-top: 100px;
        background: linear-gradient(to right, #8a2020 20%, #ec8541 100%);
    }
    .link{
      background-color: #f4f4f4;
      color: rgb(10, 10, 10);
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      font-size: 16px;
      display: inline-block;
      cursor: pointer;
    }

    .link:hover {
      background-color: #19e71d;
    }