* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      height: 100vh;
      display: flex;
    }

    .left-half {
      flex: 1;
      background: linear-gradient(to bottom , #a4a4ca 10%,  #ddb88e 100%);
    }

    .right-half {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      padding: 40px;
    }

    form {
      width: 100%;
      max-width: 400px;
    }

    h2 {
      text-align: left;
      margin-bottom: 25px;
      color: #ec8541;
    }

    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
      
    }
    .label1{
      font-weight: normal;
      font-style: italic;
    }

    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      font-size: 16px;
    }

    .checkbox-container {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    .checkbox-container input {
      margin-right: 8px;
    }

.btn {
  display: inline-block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background: #ec8541;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}
.btn:hover { background: #8a2020; }

@media (min-width: 768px) and (max-width: 1024px) {
  .right-half {
    padding: 40px 60px;
    margin: 0 auto;
    max-width: 500px;
  }

  form {
    max-width: 100%;
  }

  h2 {
    font-size: 24px;
  }

  input,
  button {
    font-size: 15px;
  }
}

   @media (max-width: 600px) {
  body {
    flex-direction: column;
    position: relative;
  }

  .left-half {
    height: 100vh;
    width: 100%;
    position: relative;
   
  }

  .right-half {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  form {
    width: 100%;
    max-width: 350px;
  }

  h2 {
    font-size: 22px;
    margin-top: 10px;
  }

  input,
  button {
    font-size: 14px;
  }
}